doctype html
html(lang="en")
  head
    include includes/head-settings
    title Toxin
  body
    header
      h1.header Header

    section.box
      h2.box-title Box Title
      
      .container
        .row
          .col-6
            p.box-text.text-reg Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis impedit iste qui velit cum modi quod nihil a fugit odio!mnb
          .col-6
            p.box-text.text-bold Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis impedit iste qui velit cum modi quod nihil a fugit odio!mnb

    include includes/footer
    include includes/scripts